@import 'variables';
@import 'resets';

@import "nav";
/* for toggle behavior */
#sidebar.active {
    margin-left: -16rem;

  }
  
  #content.active {
    width: 100%;
    margin: 0;
    .header{
        width: calc(100vw - 2rem);
    }
    .footer{
        width: calc(100vw - 2rem);
    }
  }
  
.page-content {
  width: calc(100% - 16.5rem);
  margin-left: 16.5rem;
  transition: all 0.4s;
}
.header{
    position: fixed;
    width: calc(100% - 18rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header{
        font-size: 0.7rem;
       
    }
    .company-name{
        color: black;
        font-family: $header-type-font;
    }

    .right-container{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            padding: 1rem;
            font-size: 1.2rem;
            color: $top-icon-color-ds;
        }
        .user-info a{
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            .user-info-text{
                display: flex;
                flex-direction: column;
                color: top-icon-color-ds;
                span{
                    font-size: 0.7rem; 
                }
            }
        }
       
    }
}
.main{
    margin-top:4rem;
  
        .left-part{
           
            display: flex;
            flex-direction: column;
            .header-text{
                font-size: 0.9rem;
                color: black;
            }
            .PageName{
                font-size: 0.7rem;
                
            }
        }
        .right-part{
           
            display: flex;
            justify-content: flex-end;
            .dropdown-css{
                border-radius: 10px;
                font-size: 0.8rem;
            }
        }
    
   
}


.footer{
    padding: 0.25rem 0.75rem;
    width: calc(100% - 18rem);
    position: fixed;
    bottom: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: aliceblue;
   font-size: 0.7rem;
   .exchange-module-container{
       display: flex;
       .module-main{
           font-size: 0.9rem;
       }
       a{
           padding: 0.5rem 1rem;
           display: flex;
           justify-content: center;
           align-items: center;
           color: $primary-text-color-ds;
           text-decoration: none;
       }
   }
   .common-button{
       display: none;
   }

   
}
.common-button-item{
    width: 8rem;
    background-color: $button-color;
    color: white;
    border-radius: 5px;
    font-size: 0.7rem;
    font-family: $header-type-font;
    padding: 0.2rem 0;
}
.common-button-item:hover{
    background-color: #AA6136;
    color: white;
   
}
.padding-0{
    padding-right:0rem;
    padding-left:0;
}
.padding-1{
    padding-right:0.4rem;
    padding-left:0;
}
.tile{
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
    .header{
        width: calc(100vw - 2rem);
    }
    .footer{
        width: calc(100vw - 2rem);
    }
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}
a:hover{
    transform: scale(1.15);
    color: darkgray;
}